.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f5eee5;
  width: calc(100% - 200px - 50px);
  padding: 0 20px;

  h1 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.linkDiv {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size: 18px;

  & > a {
    display: inline-block;
    margin-right: 15px;
    color: #707070;
    text-decoration: none;

    &:hover {
      color: #ca9a5a;
    }
  }
}

.icon {
  width: 18px;
  position: relative;

  & > img {
    width: 100%;

    &:last-child {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &:hover {
    & > img {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }
}

.image {
  width: 200px;
  & > img {
    width: 100%;
  }
}
